In [1]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

In [2]:
headers = {
    'Connection': 'keep-alive',
    'Cache-Control': 'max-age=0',
    'sec-ch-ua': '"Chromium";v="92", " Not A;Brand";v="99", "Google Chrome";v="92"',
    'sec-ch-ua-mobile': '?0',
    'Upgrade-Insecure-Requests': '1',
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.107 Safari/537.36',
    'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9',
    'Sec-Fetch-Site': 'none',
    'Sec-Fetch-Mode': 'navigate',
    'Sec-Fetch-User': '?1',
    'Sec-Fetch-Dest': 'document',
    'Accept-Language': 'en-US,en;q=0.9',
    'sec-gpc': '1',
}
response = requests.get('https://www.flipkart.com/search?p%5B%5D=facets.brand%255B%255D%3DSamsung&sid=tyy%2F4io&sort=recency_desc&wid=1.productCard.PMU_V2_1&page=1', headers=headers)

In [3]:
soup = bs(response.text, 'html.parser')

In [4]:
box = soup.find_all('div', {'class':'_2kHMtA'})

In [5]:
datalist = []
for item in box:
    temp = {}
    temp['Title'] = item.find('div', {'class':'_4rR01T'}).text.strip()
    temp['Price'] = item.find('div', {'class':'_30jeq3 _1_WHN1'}).text.replace('â‚¹', '').strip()
    try:
        temp['Rating'] = item.find('div', {'class':'_3LWZlK'}).text.strip()
    except:
        temp['Rating'] = ''
    datalist.append(temp)

In [6]:
panda = pd.DataFrame(datalist)
panda.to_csv('./files/flipkart.csv')
panda.head(10)

                                               Title   Price Rating
0                 SAMSUNG Galaxy A12 (White, 128 GB)  16,999
1                 SAMSUNG Galaxy A12 (Black, 128 GB)  16,490
2                  SAMSUNG Galaxy A12 (Blue, 128 GB)  16,490
3   SAMSUNG M21 2021 Edition (Charcoal Black, 64 GB)  13,856
4      SAMSUNG M21 2021 Edition (Arctic blue, 64 GB)  13,836
5                           SAMSUNG M21 2021 Edition  16,956
6  SAMSUNG M21 2021 Edition (Charcoal Black, 128 GB)  16,881
7               SAMSUNG Galaxy A22 5G (Gray, 128 GB)  21,990    4.4
8               SAMSUNG Galaxy A22 5G (Gray, 128 GB)  23,750    4.2
9             SAMSUNG S20 FE 5G (Cloud Navy, 128 GB)  56,990